<div class="row">
    <div class="panel panel-warning">
        <div class="panel-heading">
            Sign Up
        </div>
        <div class="panel-body">
    <div class="col-md-4 col-md-offset-4">
       {{#if hasErrors}}
            <div class="alert alert-danger">
                {{#each messages}}
                    <p>{{this}}</p>
                {{/each}}
            </div>
       {{/if}}
        <form action="/user/signup" method="post">
            <div class="form-group">
                <label for="email">E-Mail</label>
                <input type="text" id="email" name="email" class="form-control" required/>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control" required/>
            </div>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            <center><button type="submit" class="btn btn-primary" style="padding-right: auto;margin-bottom: 12px">Sign Up</button></center>
        </form>
        <center> <p>Already Have an Account <a href="/user/signin"> Sign In</a></p></center>
    </div>
        </div>
        <div class="panel-footer">
            Powered By Node Js
        </div>
    </div>
</div>